<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css" type="text/css">
    <title>Criar</title>
</head>
<body>
    <%- include('./partials/header.ejs') %> 
    <main>
        <section id="cadastro">

            <h2>Editar <%= personagem.nome %></h2>

            <div>
                <img src="../assets/img/imagem-cadastro.jpg" alt="Imagem cadastro">

                <form action="/editar/<%= personagem.id %> " method="POST">

                <div>
                    <label for="nome">Nome:
                    <input type="text" name="nome" id="nome" value="<%= personagem.nome %>">
                    </label>

                    <label for="cla">Clã:
                    <input type="text" name="cla" id="cla" value="<%= personagem.cla %>">
                    </label>
                </div>

                <div>
                    <label for="vila">Vila:
                        <input type="text" name="vila" id="vila" value="<%= personagem.vila %>">
                        </label>
    
                        <label for="idade">Idade:
                            <input type="number" name="idade" id="idade" value="<%= personagem.idade %>">
                        </label>    
    
                </div>

                <div>

                    <label for="altura">Altura:
                        <input type="number" name="altura" id="altura" value="<%= personagem.altura %>">
                    </label>

                    <label for="peso">Peso:
                        <input type="number" name="peso" id="peso" value="<%= personagem.peso %>">
                    </label>
                </div>

                <div>
                    <label for="sexo">Sexo:
                        <input type="text" name="sexo" id="sexo" value="<%= personagem.sexo %>">
                    </label>

                    <label for="patente">Patente Ninja:
                        <input type="text" name="patente" id="patente" value="<%= personagem.patente %>">
                    </label>
                </div>

                <div>
                    <label for="transformacao">Naturezas de Chakra:
                        <input type="text" name="transformacao" id="transformacao" value="<%= personagem.transformacao %>">
                    </label>

                    <label for="imagem" id="label-img">Link da Imagem:
                        <input type="url" name="imagem" id="imagem" value="<%= personagem.imagem %>">
                    </label>
                </div> 

                <button id="btnCadastrar" type="submit">Enviar</button>

                </form>
            </div>
        </section>
    </main>
</body>
</html>